<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Comments">

	<insert id="insert" parameterType="Comments">
		insert into Comments(content, writer, board_id) values(#{content},#{writer},#{board_id})
	</insert>

	<select id="commentsList" parameterType="int" resultType="Comments">
		select * from comments where board_id=#{board_id}
	</select>
</mapper>